/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base Style Information */


body {
    background-image: url("assets/210712edit.jpg");
    background-repeat: repeat;
    background-size: 100% 200%;
    background-color: black ;
    margin: 10px;
}

/* Navbar Stylesheet */ 

.nav-brand {
    padding: 1%;
    font-size: large;
    color: orange;
    font-size: 2vw;
    text-shadow: black 2px 2px;
}

header {
    width: 100%;
    height: 20%;
    background: transparent !important;
    line-height: 3rem;
    padding-top: 20px;
    font-family: 'Homemade Apple', cursive;
    font-size: 1vw;
    text-shadow: black 2px 2px;
}

a:hover {
    color: hotpink;
}

/*  form stylesheet */

.my-container {
    width: 55%;
    height: 80%;
    padding: px;
    margin: 40px;
}

.form-header {
    font-family: 'Lacquer';
    color:  rgb(144, 30, 211);
    text-shadow: papayawhip 1px 2px;
    font-size: 3vw;
    padding: 10px;
}
.form-titles {
    color: white;
    text-shadow: palegreen 1px 1px;
    font-size: 2vw;
    padding: 1px;
}

.form-warning {
    color: red;
    font-size: 1.5vw;
    text-align: end;
}

.btn-control {
    color: black;
    border-color: paleturquoise;
    background-color:  rgb(144, 30, 211);
    font-size: 2vw;
}
/* Footer */

footer {
    position: fixed;
    background: transparent !important;
    padding: 30px;
    padding-right: 50px;
    font-family: 'Lacquer';
    bottom: 20px;
    right: 5px;
    color: lightseagreen;
    text-align: end;
    width: 100%;
    height: 5%;
    font-size: 35px;
    text-shadow: black 2px 2px;
}

i:hover {
    color: khaki;
}

@media screen and (max-width: 800px) {

    * {
     margin: 0px;
    }

    body {
        background-size: 400%;
    }

    .nav-brand {
        font-size: 3.2vw;
    }

    header {
        font-size: 2vw;
    }

    .my-container {
        width: 90%;
        align-items: center;
    }

    .form-header {
        font-size: 5vw;
    }
    .form-titles {
        font-size: 3vw;
    }
    
    .form-warning {
        font-size: 2vw;
    }
    
}

@media screen and (max-width: 640px) {

    body {
        background-size: 400%;
    }

    .nav-brand {
        font-family: 'Barrio';
        font-size: 6vw;
    }

    header {
     font-size: 3vw;
     }

    .my-container {
        width: 90%;
        align-items: center;
    }

    .form-header {
        font-size: 5vw;
    }
    .form-titles {
        font-size: 3vw;
    }
    
    .form-warning {
        font-size: 2vw;
    }
    
}