/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base Style Information */


body {
    background-image: url("assets/071012edit.jpg");
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-color: black ;
}

/* Navbar Stylesheet */ 

.nav-brand {
    padding: 10px;
    font-size: 6vw;
    color: orange;
    font-size: 2vw;
    text-shadow: black 2px 2px;
}

header {
    width: 100%;
    height: 100px;
    background: transparent !important;
    line-height: 3rem;
    padding-top: 20px;
    font-family: 'Homemade Apple', cursive;
    font-size: 1vw;
    text-shadow: black 2px 2px;
}

a:hover {
    color: hotpink;
}

/*  Section stylesheet */

.my-container {
    position: static;
    width: 65%;
    color: white;
    text-shadow: black 2px 2px;
    margin-left: 20px;
}

.image-landscape {
    width: 90%;
    height: 300px;
    margin: 0px;
}

.image-portrait {
    width: 80%;
    height: 400px;
}

.card-title {
    font-family: 'Lacquer';
    font-size: 3vw;
    margin-bottom: 30px;
    color: rgb(144, 30, 211);
}

H3 {
    width: 60%;
    padding: 10px;
    text-align: start;
    position: relative;
    left: 10px;
    bottom: 100px;
    opacity: 0.8;
    background-color: skyblue;
    font-family: 'Barrio';
    font-size: 30px;
}

H3:hover {
    color: red;
}

/* Footer */

footer {
    position: sticky;
    background: transparent !important;
    padding: 30px;
    padding-right: 50px;
    font-family: 'Lacquer';
    bottom: 0;
    color: lightseagreen;
    text-align: end;
    width: 100%;
    height: 5%;
    font-size: 35px;
    text-shadow: black 2px 2px;
}

i:hover {
    color: khaki;
}

@media screen and (max-width: 800px) {
    * {
     margin: 0;
    }

    body {
        background-size: 400%;
    }

    .nav-brand {
        font-size: 5vw;
    }

    header {
        font-size: 2vw;
    }

    .my-container {
        width: 90%;
        align-items: center;
    }

    .card-title {
        padding: 20px;
        text-align: center;
        font-size: 4vw;
        }

    .image-landscape {
        width: 80%;
        height: 300px;
    }
    
    .image-portrait {
        width: 80%;
        height: 300px;
    }

    H3 {
        width: 60%;
        text-align: start;
        position: relative;
        left: 5px;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-size: 400% 100%;
    }

    .nav-brand {
        font-family: 'Barrio';
        font-size: 6vw;
    }

    header {
     font-size: 3vw;
     }

    .my-container {
        width: 100%;
        align-items: center;
    }

    .card-title {
    padding: 20px;
    text-align: center;
    font-size: 4vw;
    }

    .image-landscape {
        width: 90%;
    }
    
    .image-portrait {
        width: 60%;
        height: 350px;
    }

    H3 {
        width: 40%;
        text-align: start;
        position: relative;
        left: 10px;
    }

}