/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base Style Information */

* {
    font-family: 'Homemade Apple', cursive;
}

body {
    background-image: url("assets/071012p2edit.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: black ;
}

/* Navbar Stylesheet */ 

header {
    width: 100%;
    height: 20%;
    background: transparent !important;
    line-height: 3rem;
    padding: 20px;
}
.nav-brand {
    padding: 1%;
    font-size: large;
    color: orange;
    font-size: 25px;
}

/* Section Information */

.my-container {
    position: static;
    margin: 0px; 
    width: 55%;
    height: 75%;
    background: transparent !important;
    color: white;
    text-shadow: black 2px 2px;
    direction: rtl;
    overflow: auto;
}

.card-title {
    font-family: Lacquer;
    text-align: center;
    padding: 10px;
}

h4 {
    color: purple;
    text-shadow: blue 2px 2px;
    font-size: 35px;
}

p {
    line-height: 30px;
    font-family: 'Barrio';
    font-size: 26px;
}

.colorred {
    color: red;
    text-shadow: purple 2px 2px;
    font-family: 'Homemade Apple';
    padding: 50px;
}

.row-2 {
    padding: 20px;
}

.section-image {
    padding: 30px;
    width: 40%;
}

/* Footer Informatoon */

footer {
    position: fixed;
    background: transparent !important;
    bottom: 0;
    color: lightseagreen;
    text-align: center;
    background-color: #446779;
    width: 100%;
    height: 5%;
    font-size: 35px;
    text-shadow: black 2px 2px;
}

/* Media Keys */

@media screen and (max-width: 768px) {
    * {
     margin: 0;
    }

    body {
        background-size: 250%;
    }

    .my-container {
        width: 100%;
        margin: 0;
        padding: 20px;
        height: 90%;
    }

    .section-image {
        width: 55%;
        padding: 10px;
        margin: 0;
    }

    .colorred {
        font-size: 30px;
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 30px;
        padding: 0px;
    }
    p {
        font-size: 18px;
        line-height: 30px;
    }

    footer {
        padding: 10px;
        position:static;
    }

}

@media screen and (max-width: 640px) {
    
    body {
        background-size: 1300px 3000px;
    }

    .nav-brand {
        font-family: 'Barrio';
        font-size: 50px;
        padding: 20px;
    }

    .section-image {
        width: 100%;
    }

    h4 {
        font-size: 30px;
        color: pink;
        text-shadow: black  2px 2px;
    }

    .footer {
        position:static;
        font-size: 50px;
        padding: 20px;
        line-height: 50px;

    }
}