/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base Style Information */

body {
    background-image: url("assets/071012p2edit.jpg");
    background-repeat: no-repeat;
    background-size: 130% 130%;
    background-color: black ;
}

/* Navbar Stylesheet */ 

.nav-brand {
    font-size: large;
    color: orange;
    font-size: 2vw;
    padding: 20px;
}

header {
    width: 100%;
    height: 20%;
    background: transparent !important;
    line-height: 3rem;
    padding-top: 20px;
    font-family: 'Homemade Apple', cursive;
    font-size: 1vw;
    padding: 20px;
}

a:hover {
    color: hotpink;
}

/* Section Information */

.my-container {
    position: static;
    margin-left: 20px; 
    width: 65%;
    height: 75%;
    background: transparent !important;
    color: white;
    text-shadow: black 2px 2px;
    direction: rtl;
    overflow: auto;
}

.card-title {
    font-family: 'Lacquer';
    text-align: center;
    font-size: 2vw;
}

.bookreference {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    font-weight: bold;
    padding: 10px;
}

.section-image {
    padding: 20px;
    width: 40%;
}

h4 {
    text-align: center;
    font-family: 'Barrio';
    font-size: 35px;
    color: lightskyblue;
    padding-top: 10px;
}

p {
    background-color:olive;
    line-height: 30px;
    font-family: 'Barrio';
    font-size: 26px;
    padding: 1ßpx;
}


/* Footer Informatoon */

footer {
    position: fixed;
    background: transparent !important;
    bottom: 0;
    color: lightseagreen;
    text-align: center;
    width: 100%;
    height: 5%;
    font-family: 'Barrio';
    font-size: 35px;
    text-shadow: black 2px 2px;
}

/* Media Keys */

@media screen and (max-width: 768px) {
    
    * {
        margin: 0;
    }

    body {
        background-size: 270% 150%;
    }

    .nav-brand {
        font-size: 5vw;
        padding: 20px;
    }

    header {
        font-size: 2.6vw;
    
    }

    .my-container {
        width: 100%;
        margin: 0;
        padding: 20px;
        height: 90%;
    }

    .section-image {
        width: 55%;
        padding: 10px;
        margin: 0;
    }

    .card-title {
        font-size: 3vw;
    }

    .bookreference {
        font-size: 4vw;
    }

    h4 {
        font-size: 30px;
        padding: 7px;
    }

    p {
        font-size: 4vw;
        line-height: 30px;
    }

    footer {
        padding: 10px;
        position:static;
    }

}

@media screen and (max-width: 640px) {
    
    body {
        background-size: 1300px 3000px;
    }

    .nav-brand {
        font-family: 'Barrio';
        font-size: 8vw;
        padding: 20px;
    }
    header {
        font-size: 3vw;
    }

    .section-image {
        width: 100%;
    }

    h4 {
        font-size: 30px;
        color: pink;
        text-shadow: black  2px 2px;
    }

    .footer {
        position:static;
        font-size: 50px;
        padding: 20px;
        line-height: 50px;
    }
}